@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  position: absolute;
  margin: 0;
  padding: 0;
}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  background-image: url("../image/stars.png");
}

.Welcome-text-div {
  position: absolute;
  width: 1090px;
  height: 212px;
  left: 434px;
  top: 175px;
}

.Welcome-text {
  text-align: center;
  color: #fe3b1f;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
}

.start-button-div {
  position: absolute;
  width: 395px;
  height: 79px;
  left: 754px;
  top: 492px;
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.start-button {
  width: 395px;
  height: 79px;
  left: 754px;
  top: 492px;
  background: #fe3b1f;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  border: none;
  align-items: center;
}

.start-button-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.submitted-div {
  position: absolute;
  width: 338px;
  height: 66px;
  left: 795px;
  top: 589px;
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.submitted-link {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
}

.rocketman-div {
  position: absolute;
  width: 536px;
  height: 468px;
  left: 661px;
  top: 612px;
  background: url("../image/rocketman.png");
}
